@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&display=swap");
/* Gradient */
:root {
  --black: #211e32;
  --dark: #2a2f42;
  --green: #5afe72;
  --white: #ffffff;
  --purple: #9a3bba;
  --danger: #fe4e56;
  --yellow: #fbff22;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@keyframes appearFromRight {
  0% {
    transform: translateX(300px);
    filter: blur(70px);
  }
  100% {
    transform: translateX(0px);
    filter: blur(0px);
  }
}
@keyframes appearFromLeft {
  0% {
    transform: translateX(-300px);
    filter: blur(70px);
  }
  100% {
    transform: translateX(0px);
    filter: blur(0px);
  }
}
@keyframes appearBottomUp {
  0% {
    transform: translateY(300px);
    filter: blur(70px);
  }
  100% {
    transform: translateY(0px);
    filter: blur(0px);
  }
}
@keyframes appearTopDown {
  0% {
    transform: translateY(-300px);
    filter: blur(20px);
  }
  100% {
    transform: translateY(0px);
    filter: blur(0px);
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
/* Gradient */
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: Poppins;
  background-color: #262d63;
  color: #ffffff;
  font-size: 15px;
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      transparent 0 49px,
      rgba(215, 175, 14, 0.067) 49px
    ),
    linear-gradient(to bottom, transparent 0 49px, #eee1 49px);
  background-size: 50px 50px;
  &::after {
    position: fixed;
    width: 400px;
    height: 400px;
    content: "";
    background-image: linear-gradient(to right, #1215b7, #c30d0d);
    z-index: -1;
    top: -270px;
    left: calc(3%);
    border-radius: 50% 50% 0% 0%;
    pointer-events: none;
    filter: blur(150px);
  }
  &::before {
    position: fixed;
    width: 400px;
    height: 400px;
    content: "";
    background-image: linear-gradient(to right, #12b75f, #db2828);
    z-index: -1;
    top: -250px;
    left: calc(65%);
    border-radius: 50% 50% 0% 0%;
    pointer-events: none;
    filter: blur(180px);
  }
}
main {
  width: 1300px;
  max-width: 100%;
  margin: auto;
}

header {
  position: fixed;
  width: 1300px;
  max-width: 100%;
  height: 60px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
  backdrop-filter: blur(10px);
  & img {
    width: 50px;
  }
  & .logo,
  nav {
    display: flex;
    align-items: center;
    gap: 30px;
    animation: appearTopDown 1s;
    & a {
      cursor: pointer;
      color: white;
    }
    & .active {
      color: #e945e3;
      text-shadow: 0 0 5px #7a43b6;
    }
  }
  & .icon-bar {
    width: 30px;
    display: none;
  }
}
section {
  width: 1300px;
  max-width: 100%;
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
  top: 0;
}
/* ----------------------------------------- Goal   -----------------------------------------*/

section.goal {
  margin-top: 5rem;
  font-size: 1.1rem;
  line-height: 2rem;
  & .row-1 {
    display: flex;
    gap: 2rem;
    animation: appearFromLeft 1s;
    & img {
      border-radius: 10px;
    }
  }
  & .row-2 {
    margin-top: 5rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    animation: appearFromRight 1s;
    & img {
      border-radius: 10px;
    }
  }
}

/* ----------------------------------------- Resume   -----------------------------------------*/
section.resume {
  & .resume-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 25% 75%;

    & .grid-column-1 {
      animation: appearFromLeft 1s;
      border-right: 3px solid rgba(128, 128, 128, 0.286);
      padding-right: 2rem;
      margin-right: 2rem;
      & .ava {
        text-align: right;
        & img {
          border-radius: 10px;
        }
      }
      & .info {
        text-align: right;
        & h2 {
          color: rgb(53, 123, 204);
        }
      }
    }

    & .grid-column-2 {
      animation: appearFromRight 1s;
      & .download-resume {
        padding: 15px 10px;
        background: none;
        border: 2px solid white;
        margin-top: 1rem;
        &:hover {
        }
        & a {
          color: white;
        }
      }
    }
  }
}
/* ----------------------------------------- Home   -----------------------------------------*/

section.home {
  padding-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  animation: appearBottomUp 1s;
  & .content {
    font-family: "MuseoModerno", system-ui;
    & .name {
      font-size: 7em;
      font-weight: bold;
      line-height: 1em;
      width: 100%;
      height: 220px;

      & span {
        background-image: linear-gradient(
          to right,
          #201a93,
          #f3265f,
          #7f40ac,
          #201a93
        );
        background-size: 200% auto;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: shine 5s linear infinite;
      }
    }
    & .des {
      color: white;
      margin: 30px 0;
      border-left: 0.7em solid #e945e3;
      padding-left: 2em;
    }
    & a {
      display: block;
      font-size: large;
      color: #eee;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid #eee;
      background-color: transparent;
      width: max-content;
      padding: 20px 30px;
      border-radius: 40px;
    }
  }
  & .avatar {
    text-align: right;
    & .card {
      display: inline-flex;
      flex-direction: column;
      width: min(100%, 400px);
      box-shadow: 0 150px 150px #62adee33;
      transition: 0.5s;
      position: relative;
      border-radius: 5px;
      &:hover {
        box-shadow: 0 150px 150px #1e09a955;
      }
      &::before,
      &::after {
        position: absolute;
        width: 104%;
        height: 102%;
        top: -1%;
        left: -2%;
        content: "";
        border-radius: 6px;
        background-image: linear-gradient(
          var(--rotate),
          var(--purple),
          var(--danger)
        );
        z-index: -1;
        transition: opacity 0.5s;
        animation: none;
        opacity: 0;
      }
      &::after {
        filter: blur(40px);
      }
      &::before,
      &::after {
        opacity: 1;
        animation: spin 1.5s linear infinite;
      }
      & img {
        width: 100%;
        height: min(50vh, 700px);
        object-fit: cover;
        object-position: top;
        /* clip-path: polygon(81% 0, 100% 18%, 100% 100%, 0 100%, 0 0); */
      }
      & .info {
        background-color: #eee;
        color: #010824;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 20px;
        padding: 20px;
        font-size: 1.2em;
        & div:nth-child(1),
        div:nth-child(2),
        div:nth-child(3) {
          font-weight: bold;
        }
      }
    }
  }
}
/* ----------------------------------------- Skills   -----------------------------------------*/
section.skills {
  & .title {
    text-align: center;
    font-size: 5vw;
    font-family: "MuseoModerno", system-ui;
    animation: appearFromLeft 1s;
  }
  & .des {
    color: rgb(205, 202, 202);
    text-align: center;
    max-width: 500px;
    margin: auto;

    animation: appearFromRight 1s;
  }
  & .list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-between;
    gap: 3vw;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 70%;
      height: 70%;
      background-image: linear-gradient(-45deg, red, blue);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      border-radius: 20px;
      background-size: 200% auto;
    }
    & .item {
      backdrop-filter: blur(50px);
      padding: 20px;
      border-radius: 20px;
      background-color: #01082488;
      & img {
        border-radius: 10px;
      }
      & svg {
        font-size: 30px;
        background-color: #eee2;
        padding: 10px;
        border-radius: 10px;
      }
      & .des {
        text-align: left;
        width: 100%;
        font-size: small;
        animation: none;
      }
    }
    & .item:nth-child(1) {
      animation: appearTopDown 1s;
    }
    & .item:nth-child(2) {
      animation: appearTopDown 1.5s;
    }
    & .item:nth-child(3) {
      animation: appearTopDown 2s;
    }
    & .item:nth-child(4) {
      animation: appearBottomUp 1s;
    }
    & .item:nth-child(5) {
      animation: appearBottomUp 1.5s;
    }
    & .item:nth-child(6) {
      animation: appearBottomUp 2s;
    }
    & .item:nth-child(7) {
      animation: appearBottomUp 2.5s;
    }
  }
}
/* ----------------------------------------- Projects   -----------------------------------------*/

section.projects {
  overflow: hidden;
  & .title {
    margin-top: 100px;
    text-align: center;
    font-size: 5vw;
    font-family: "MuseoModerno", system-ui;
    animation: appearFromLeft 1s;
  }
  & .des {
    color: #eee5;
    text-align: center;
    max-width: 500px;
    margin: auto;
    animation: appearFromRight 1s;
  }
  & .list {
    margin-top: 50px;
    & .item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px;
      gap: 20px;
      & .images {
        background-image: linear-gradient(-45deg, #473bb4, #be24a9);
        text-align: center;
        border-radius: 20px;
        overflow: hidden;
        height: 500px;
        & img {
          height: 100%;
          border-radius: 10px;
          box-shadow: 0 20px 40px #010824;
          width: 100%;
          object-fit: contain;
        }
      }
      & .content {
        & h3 {
          font-size: 3em;
          margin: 0;
        }
        & .des {
          text-align: left;
          width: 100%;
        }
        & .mission {
          margin-top: 10px;
        }
        & a {
          color: rgb(40, 118, 208);
          text-decoration: underline;
        }
      }
    }
    & .item:nth-child(n) {
      animation: appearFromRight 1s;
    }
    & .item:nth-child(2n) {
      animation: appearFromLeft 1s;

      & .images {
        grid-column-start: 2;
        grid-column-end: 3;
      }
      & .content {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
      }
    }
  }
}
/* ----------------------------------------- Contact   -----------------------------------------*/

section.contacts {
  padding-bottom: 220px;
  & .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    animation: appearBottomUp 1.3s;
    & img {
      border-radius: 10px;
      object-fit: cover;
    }
  }

  & .title {
    text-align: center;
    font-size: 5vw;
    font-family: "MuseoModerno", system-ui;
    animation: appearBottomUp 1s;
  }

  & .platform {
    display: flex;
    gap: 1.5rem;
    & h1 {
      cursor: pointer;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

/* Responsive */

@media screen and (max-width: 1023px) {
  section.goal {
    & .row-1,
    & .row-2 {
      flex-direction: column;
      & img {
        text-align: center;
        width: 100%;
      }
    }
  }
  section.home {
    & .content {
      & .name {
        font-size: 4em;
      }
    }
    & .avatar {
      & img {
        max-height: 500px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  section {
    padding: 20px;
    margin-top: 2rem;
    &.home {
      grid-template-columns: 1fr;
      padding-top: 70px;
      & .content {
        & a {
          margin: auto;
          font-size: small;
        }
      }
      & .avatar {
        grid-row-start: 1;
      }
    }
    &.projects {
      & .list {
        & .item {
          grid-template-columns: 1fr;
          & .content {
            & h3 {
              font-size: 1.2em;
              margin-bottom: 1em;
            }
          }
        }
        & .item:nth-child(2n) {
          animation: appearFromLeft 1s;
          & .content,
          .images {
            grid-row-start: auto;
            grid-column-start: auto;
            grid-column-end: auto;
          }
        }
      }
    }

    &.resume {
      & .resume-grid {
        grid-template-columns: 1fr;
        & .grid-column-1 {
          border: none;
          & .ava {
            text-align: center;
          }

          & .info {
            text-align: center;
          }
        }
      }
    }
    &.contacts {
      & .title {
        margin-top: 2rem;
      }
      & .intro {
        margin-top: 2rem;
        display: block;
      }
    }
  }
  header {
    & nav {
      width: 80%;
      height: 100vh;
      position: fixed;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      inset: 0 auto 0 0;
      background-color: #343b7d;
      color: #0f1225;
      padding: 50px;
      box-sizing: border-box;
      font-weight: bold;
      left: -100%;
      transition: 0.5s;
    }
    & .icon-bar {
      display: block;
      font-size: 2.5rem;
      cursor: pointer;
      transition: 0.5s;
    }
    & nav.active {
      left: 0;
    }
  }
}
